main{
    display: flex;
    background-color: white;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 0px 50px;
}
.search-area{
    background-color: #eee;
    font-family:'Times New Roman', Times, serif;
    font-size:16pt  ;
    font-weight:300;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0px;
}

.search-area button{
    text-align: center;
    font-size:14pt  ;
    font-weight:300;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.4px;
    height: 25px;
}
.search-area input{
    font-size:14pt  ;
    font-weight:300;
    font-family: 'Times New Roman', Times, serif;
    width: 20%;
}
